/* CUSTOM FONTS */
@font-face {
    font-family: 'NotoSansThai-Regular';
    font-weight: 400;
    src: local('NotoSansThai-Regular'), 
        url('../fonts/NotoSansThai/NotoSansThai-Regular.ttf') format("truetype");
}

:root {
    /* main edit */
    --blue: #eb345e;
    --white: #ffffff;

    --normalbtn: 50px;
}

html {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: white;
    color: white;
}
a, p, h1, h2, h3, h4 {
    -webkit-user-select: none !important;  /* Chrome all / Safari all */
    -moz-user-select: none !important;     /* Firefox all */
    -ms-user-select: none !important;      /* IE 10+ */
    user-select: none !important;          /* Likely future */      
}

body {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
}
code, kbd, pre, samp {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
}
button, input, optgroup, select, textarea {
    font-family: inherit
}
.tooltip {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
}
.popover {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
}
.text-monospace {
    font-family: 'NotoSansThai-Regular', sans-serif !important;
}

i {
    font-family: 'bootstrap-icons' !important;
}

.firsticon {
    font-size: var(--normalbtn);
    color: var(--blue);
}

/* ------ */

/* SIGNUP */
.signupsec {
    display: grid;
    justify-content: center;
    align-items: center;
}
.signupdiv {
    margin-top: 50px;
    width: 60vw;
}

#spinner {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
#spinner div {
    width: 50px;
    height: 50px;
}
/* SIGNIN */
.signinsec {
    display: grid;
    justify-content: center;
    align-items: center;
}
.signindiv {
    margin-top: 50px;
    width: 60vw;
}

/* LISTITEM */

.lisitemsec {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.listitemdiv {
    display: grid;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.listitemdiv .listitem {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    width: 100%;
    border-radius: 7px;
}

/* // */
.paddingdiv {
    overflow: hidden;
    transition-duration: 3s;
    height: 0;
}
.paddbtn:focus + .paddingdiv {
    height: auto;
}

/* // */

.contentdiv {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
.contentdiv div {
    padding: 20px;
}
.contenttoggle {
    max-height: 500px;
}

/* // */

.contenttranslate {
    display: block;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    position: fixed;
    overflow: hidden;
    background-color: white;
    top: 100px;
    left: 0;
    width: 200px;
}
.contenttranslate div {
    padding: 20px;
}
.toggletranslate {
    display: block;
    transform: translateX(0);
}
