{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}

<section class="signinsec">
    <div class="signindiv">
        <form class="row g-3" action="{% url 'signin' %}" onsubmit="return validateSignupForm()" method="post" name="mysignin" id="signin">
            {% csrf_token %}
            <span>ชื่อผู้ใช้</span>
            <input class="form-control" type="text" placeholder="ชื่อผู้ใช้" aria-label="default input example" name="signinname">
            
            <span>รหัส</span>
            <input class="form-control" type="password" placeholder="รหัส" aria-label="default input example" name="signinpass">
            
            <button type="submit" class="btn btn-primary mb-3">ลงชื่อเข้าใช้</button>
        </form>
    </div>
</section>
{% endblock %}