{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}

<section>
    
    <form class="row g-3" action="{% url 'taskcreate' %}" onsubmit="return validateForm()" method="post" name="taskform" id="mytaskform">
        {% csrf_token %}
     
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">name</label>
            <input type="text" class="form-control" id="inputPassword2" name="taskname" placeholder="name">
        </div>

        <!-- {{form.name}} -->

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" aria-required="true" id="confirmbtn">Confirm</button>
        </div>

    </form>

</section>

<script>
    const inputename = document.querySelector('#userform')
    const confirmbtn = document.querySelector('#confirmname')

    function validateForm() {
        let taskname = document.forms["taskform"]["taskname"].value;
        // console.log('taskname')
        if (taskname == "") {
            alert("กรุณาเติมช่องว่าง");
            return false;
        } else {
            SendtoApiview(taskname)
            return true;
        }
        
    }

    function SendtoApiview(taskname) {

        var url = 'apitask-create/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'name': taskname,
            }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data)
        })
        .catch((error) => {
            console.error('Error:', error)
        })

    }
</script>

{% endblock %}