{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}

<section>
    
    <form class="row g-3" action="{% url 'userform' %}" onsubmit="return validateForm()" method="post" name="myuserform" id="userform">
        {% csrf_token %}

        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">name</label>
            <input type="text" class="form-control" id="inputPassword2" name="myname" placeholder="name">
        </div>

        <!-- {{form.name}} -->

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" aria-required="true" id="confirmbtn">Confirm</button>
        </div>

    </form>

</section>

<script>
    const inputename = document.querySelector('#userform')
    const confirmbtn = document.querySelector('#confirmname')

    function validateForm() {
        let x = document.forms["myuserform"]["myname"].value;
        console.log('x')
        if (x == "") {
            alert("กรุณาเติมช่องว่าง");
            return false;
        }
    }
</script>

{% endblock %}