{% load socialaccount %}
{% providers_media_js %}
<!-- https://codepen.io/kimberlypangilinan/pen/RwBRzVZ -->

<nav class="nav">
    <!-- FULL -->
    <div class="nav-main">
        <div class="logo">CRUD<span>TEST</span></div>
        <ul class="nav-links">
            <li class="nav-link"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav-link"><a href="{% url 'listitem' %}">Listitem</a></li>
            <li class="nav-link"><a href="{% url 'taskcreate' %}">Taskcreate</a></li>
            <li class="nav-link"><a href="{% url 'videoitem' %}">Videoitem</a></li>
            <li class="nav-link"><a href="{% url 'createtest' %}">Createtest</a></li>
            <!-- <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
                <ul class="dropdown-list">
                    <li class="nav-link"><a href="">Service 1</a>
                    <li class="nav-link"><a href="">Service 2</a>
                </ul>
            </li> -->
            <!-- <li class="nav-link"><a href="">Blog</a></li> -->
        </ul>
    </div>
    
    <div class="cta">
        {% if request.user.is_authenticated %}
            <span>บัญชี {{ user.username }}</span>
            <a href="{% url 'signout' %}">
                <button class="btn btn-primary">
                    ออกจากระบบ
                </button>
            </a>
        {% else %}
            <a href="{% url 'signin' %}">
                <button class="btn btn-secondary">
                    ลงชื่อเข้าใช้
                </button>
            </a>
            <a href="{% url 'signup' %}">
                <button class="btn btn-primary">
                    สร้างบัญชี
                </button>
            </a>
            <!-- <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a> -->
            <fb:login-button 
                scope="public_profile,email"
                onlogin="checkLoginState();"
            >
            </fb:login-button>
            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
            
            <a href="{% provider_login_url 'facebook' method='js_sdk' %}">
                <button>
                    Facebook Connect
                </button>
            </a>
        {% endif %}
    </div>

    <!-- MOBILE -->
    <div class="menu">
      <button class="btn btn-primary menu"><i class="bi-list"></i></button>
      <ul class="nav-mobile">
            <li class="nav-link"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav-link"><a href="{% url 'listitem' %}">Listitem</a></li>
            <li class="nav-link"><a href="{% url 'taskcreate' %}">Taskcreate</a></li>
            <li class="nav-link"><a href="{% url 'videoitem' %}">Videoitem</a></li>
            <li class="nav-link"><a href="{% url 'createtest' %}">Createtest</a></li>
            <!-- <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
                <ul class="dropdown-list">
                    <li class="nav-link"><a href="">Service 1</a>
                    <li class="nav-link"><a href="">Service 2</a>
                </ul>
            </li> -->
            <!-- <li class="nav-link"><a href="">Blog</a></li> -->
      </ul>
    </div>
</nav>