{% if messages %}
{% for message in messages %}

    <!-- CHECK MESSAGE TAG -->
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div id="successToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <style>
        #successToast {
            z-index: 100;
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    </style>

{% endfor %}
{% endif %}